.item-news {
    color:slategray;
    border: 1px solid slategray;
    padding: 10px 5px;
}
.container {
    display: grid;
    grid-template-columns:repeat(5 ,1fr);
    grid-template-rows: repeat(3 ,150px);
    grid-auto-rows: 150px 250px;
    gap:10px 5px;
    min-width: 400px;
    max-width: 1400px;
    margin: 0 auto;
    grid-auto-flow: dense;
}
.item-1{
    grid-column:2 /-2;
    grid-column-start: 1;
    align-self: center;
}
/** Laptop **/
@media (max-width: 1000px ) {

    .container {
        grid-template-columns: 2fr;
    }

    .item-1{
        grid-column:span 2;
    }
}

/** Mobile **/
@media (max-width: 500px) {

    .container {
        grid-template-columns: 1fr;
    }

    .item-1{
        grid-column:span 1;
    }
}


